<button ng-click='finish()'>Done</button>

<div class='row' ng-class='select.directionClass()'>

  <div class='col-md-6'>
    <table>
      <tbody>
        <tr ng-repeat='row in cells track by $index'>
          <td class='crossword-cell'
              ng-repeat='cell in row track by $index'
              ng-class='cellClasses(cell)'
              ng-click='toggleBlock(cell)'>
            <div class='cell-number' ng-show='!cell.isBlock'>{{ cell.number }}</div>
            <div class='cell-content'></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='col-md-3'>
    <h3>Across</h3>
    <textarea ng-model='rawAcross' style='height: 500px; width: 90%'></textarea>
  </div>

  <div class='col-md-3'>
    <h3>Down</h3>
    <textarea ng-model='rawDown' style='height: 500px; width: 90%'></textarea>
  </div>

</div>
