<div class='row' ng-class='select.directionClass()'>

  <div class='col-md-6'>
    <table>
      <tbody>
        <tr ng-repeat='row in cells track by $index'>
          <td class='crossword-cell'
              ng-repeat='cell in row track by $index'
              ng-class='cell.cssClass()'
              ng-click='select.cell(cell)'>
            <div class='cell-number' ng-show='!cell.empty()'>{{ cell.number }}</div>
            <div class='cell-content'>{{ cell.content() }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='col-md-3'>
    <h3>Across</h3>
    <ul class='list-unstyled'>
      <li class='clue'
          ng-repeat='clue in clues.across | orderBy:number'
          ng-class='clue.cssClass()'
          ng-click='select.clue(clue)'>
        <span class='clue-number'>{{ clue.number }}</span> {{ clue.text }}
      </li>
    </ul>
  </div>

  <div class='col-md-3'>
    <h3>Down</h3>
    <ul class='list-unstyled'>
      <li class='clue'
          ng-repeat='clue in clues.down | orderBy:number'
          ng-class='clue.cssClass()'
          ng-click='select.clue(clue)'>
        <span class='clue-number'>{{ clue.number }}</span> {{ clue.text }}
      </li>
    </ul>
  </div>

</div>
