<div>
  <div class='num-players' ng-show='room.clients.length'>
    <ng-pluralize count='room.clients.length'
                  when="{'one': '1 other player',
                         'other': '{} other players'}">
    </ng-pluralize>
  </div>

  <div class='row'>

    <div class='col-md-6'>
      <table>
        <tbody>
          <tr ng-repeat='row in cells track by $index'>
            <td class='crossword-cell'
                ng-repeat='cell in row track by $index'
                ng-class='cellClasses(cell)'
                ng-click='focusCell(cell)'>
              <div class='cell-number' ng-show='!cell.isBlock'>{{ cell.number }}</div>
              <div class='cell-content'>{{ cell.content }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-6'>
          <clue-list clues='clues.across' selected='selected.clue'></clue-list>
        </div>

        <div class='col-md-6'>
          <clue-list clues='clues.down' selected='selected.clue'></clue-list>
        </div>
      </div>
      <div class='row'>
        <div class='clue-notes'>
          <textarea ng-focus='focusNotes()'>foo</textarea>
        </div>
      </div>
    </div>

</div>
