<div class='row'>

  <div class='col-md-6'>
    <table>
      <tbody>
        <tr ng-repeat='row in rows track by $index'>
          <td class='crossword-cell'
              ng-repeat='col in row track by $index'
              ng-class='col.cssClass()'
              ng-click='col.toggleEmpty()'>
            <span class='cell-number' ng-show='!col.empty'>{{ col.number }}</span> {{ col.content }}</td>
        </tr>
      </tbody>
    </table>

    <button ng-click='inspect()'>Inspect</button>

    <textarea ng-model='crosswordJson' style='height: 200px; width: 500px;'></textarea>
    </div>

  <div class='col-md-3'>
    <h3>Across</h3>
    <dl>
      <dt ng-repeat-start='q in across | orderBy:getter'>{{ q.number }} {{ q.clue }}</dt>
      <dd ng-repeat-end>
        <!-- TODO not catching validation errors here -->
        <input type='text' ng-model='guess' ng-init='guess = q.guess()'
               ng-change='q.guess(guess); buildTable();'>
      </dt>
    </dl>
  </div>

  <div class='col-md-3'>
    <h3>Down</h3>
    <dl>
      <dt ng-repeat-start='q in down | orderBy:number'>{{ q.number }} {{ q.clue }}</dt>
      <dd ng-repeat-end>
        <!-- TODO not catching validation errors here -->
        <input type='text' ng-model='guess' ng-init='guess = q.guess()'
               ng-change='q.guess(guess); buildTable();'>
      </dt>
    </dl>
  </div>


</div>
