<div class='row'>

  <div class='col-md-6'>
    <table>
      <tbody>
        <tr ng-repeat='row in rows track by $index'>
          <td class='crossword-cell'
              ng-repeat='cell in row track by $index'
              ng-class='cell.cssClass()'
              ng-click='select.cell(cell)'>
            <span class='cell-number' ng-show='!cell.empty()'>{{ cell.number }}</span> {{ cell.content }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type='text/ng-template' id='question-list.html'>
  </script>

  <div class='col-md-3'>
    <h3>Across</h3>
    <ul class='list-unstyled'>
      <li class='clue'
          ng-repeat='q in questions.across | orderBy:number'
          ng-class='q.cssClass()'
          ng-click='select.question(q)'>
        <span class='clue-number'>{{ q.number }}</span> {{ q.clue }}
      </li>
    </ul>
  </div>

  <div class='col-md-3'>
    <h3>Down</h3>
    <ul class='list-unstyled'>
      <li class='clue'
          ng-repeat='q in questions.down | orderBy:number'
          ng-class='q.cssClass()'
          ng-click='select.question(q)'>
        <span class='clue-number'>{{ q.number }}</span> {{ q.clue }}
      </li>
    </ul>
  </div>

</div>
